{#
/**
 * @file dmb_notifications_entity.html.twig
 * Default theme implementation to present DMB Notifications entity data.
 *
 * This template is used when viewing DMB Notifications entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dmb_notifications_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dmb_notifications_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
